@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
.time{
  display: flex;
  justify-content: flex-end;
  color: white;
}
body{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: black;
  background-image: url("https://naochan83275.github.io/dash/image/IMG_0260.jpeg");
}
